$primary: #fdc0b0;
$secondary: #26b8c2;
$dark: #000;
$info: #ff9d8e;
$grey: #848c97;

body {
	font-family: 'Roboto', sans-serif;
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
	background-color: $dark;
}

header {
	text-align: center;
	padding: 1rem;
}

h1 {
	color: $info;
}
h2 {
	color: $grey;
}

.navbar {
	background-color: $primary;
}

a {
	color: $primary;

	&:hover {
		color: $secondary;
		text-decoration: none;
	}
}

.nav-link {
	color: $dark;
	&:hover {
		color: $secondary;
	}
}

.title {
	color: $secondary;
	padding: 2rem 0;
}

.card-title {
	padding: 2rem;

	text-transform: uppercase;
}

p {
	padding-left: 2rem;
	&:last-child {
		margin-bottom: 0;
	}
}

.card {
	border: none;

	text-decoration: none;

	h5 {
		text-transform: uppercase;
		font-weight: 300;
	}
}
.cont {
	background-color: $dark;
}

.card-body {
	background-color: $dark;
	border-color: $dark;
}

.links {
	text-decoration: none;

	&::before {
		content: '';
		display: block;
		width: 70px;
		height: 2px;
		background: $primary;
		margin: 15px auto 30px;
	}
}

.btn {
	background-color: $secondary;
	border-color: $secondary;

	&:hover {
		background-color: $primary;
	}
}

footer {
	background-color: $info;
	padding: 1rem;
	text-align: center;

	p {
		font-size: 12px;
	}
}
